* { margin: 0; padding: 0; border-width: 0; font-size: 10px; }
* * {font-size: 1em; }
body {background: url(../image/blue_background.gif) repeat-x;}
#scene { float: left;width: 77em; height: 16em; }
#scene img {width: 77em; height: 16em; }
#article_list{float:left;display: inline; width: 106.7em;height:33.8em; background-color:black; color:white;}
#article_block{width:90em; height:12.5em; color:white; }
#register_page{float:left;display: inline; width: 106.7em; height: 32em;background-color:black; color:white;}
#login_page{float:left;display: inline; width: 106.7em; height: 32em;background-color:black; color:white;}
#col_right { display: inline; width: 29.6em;}

#menu h2 { font: 1.8em verdana; line-height: 2.2em; color: #656565;}
#menu ul { border-top: 1px solid #e5e5e5; list-style-position: inside; list-style-type: none; }
#menu ul li { padding-left: 2em; background: url(../image/folder.gif) center center repeat-y; border-bottom: 1px solid #e5e5e5; }
#menu ul li a { display: block; font: 1.1em Lucida Sans Unicode, Trebuchet MS, Sans; line-height: 2em; text-decoration: none; color: #5d5d5d; }
#menu ul li a:hover { background: #e5ecf8; }

#title {color:red;}
#author {color:green;}

#editor-trigger {
	height: 400px;
	/*max-height: 500px;*/
}
.container {
	color:black;
	background: white;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
