
body {
	margin:0;     
	padding:0;  
	width:100%;  
    height:100%;  
    background-color:#e0ffff;
}

#hi_sonne {
}

#content {
	position:relative;
	top:100px;
	/*placed at middle*/
	text-align:center;
	margin:0 auto;
	font-family: KaiTi;
	width:300px;
	background-color:#ffebcd;
	padding:2px;
	/*Ô²½Ç±ß¾à*/
	border:2px solid;
	border-radius:15px;
	/* Old Firefox */
	-moz-border-radius:25px; 
}

#back_way {
	position:relative;
	top:80px;
	/*placed at middle*/
	text-align:center;
	margin:0 auto;
}

#back_way a:link {
	text-decoration:none;
    color: #999999;
    line-height: 19px;
    display: block;
}

#back_way a:visited {
	text-decoration:none;
    color: #999999;
    line-height: 19px;
    display: block;
}

#back_way a:hover {
	text-decoration:underline;
	color:red;
    line-height: 19px;
    display: block;
}

#back_way a:active {
	text-decoration:underline;
	color:red;
    line-height: 19px;
    display: block;
}
#poem {
	font-family: KaiTi;
	color:white;
}

#submit_btn {
}

