body 
{
	background-image:url(../image/register_background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}


#col_left 
{
	width:15%;
	height:75%;
	float:left;
	margin-left:10%; 
	margin-top:200px; 
	margin-right:10px;
	background-color: #ffffff;
	border: 1px solid black;
	filter:alpha(opacity=60);
	opacity:0.6;
}


#register_page 
{ 
	float:left;
	width:30%;
	margin-top:200px;
	background-color:#ffffff;
	border: 1px solid black;
	filter:alpha(opacity=60);
	opacity:0.6;
}